<!DOCTYPE html>
<html>
<head>
	<title>Deneme Sayfası</title>
</head>
<body>
	<nav>
		<ul> 
		<li><a href="https://wwww.google.com">Google</a><b></li>
		<li><a href="https://wwww.twitter.com">Twitter</a><b></li>
		<li><a href="https://wwww.youtube.com">Youtube</a><b></li>
		</ul>
	</nav>

	<form>
	<b>Username</b> <input type="text"/> <br>
	<b>Password</b> <input type="password"/> <br>
	<input type="submit" name="submit"/>
</form>

<article>

	<h1>This is article 1 header</h1>
	and this is article text.
	<section>
		This is section1 
	</section>
	<section>This is section 2 <p>This is a paragraph inside the section 2.</p> </section>
	<aside>Aside <p>paragraph inside aside</p></aside>
</article>
<audio src="http://www.sololearn.com/uploads/audio.mp3" controls>
    Audio element not supported by your browser
</audio>
 <br>A progress element
<progress value="25" max="100",min="0"></progress>

<footer>
<br><br><br>
<h2>Footer Section</h2>
-Contact Information <br>
- Privacy Policy<br>
- Social Media Icons<br>
- Terms of Service<br>
- Copyright Information<br>
- Sitemap and Related Documents<br>
</footer>
</body>
</html>